<html>
<head> 
<title> ToDo App </title>
 <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
 <link href="/styles.css" rel="stylesheet">
</head>

<body>
<div class="container">
<h2> Posts </h2>

<%- include('posts/post1_summary.ejs') %>
<%- include('posts/post2_summary.ejs') %>

</div>

</body>
</html>
