* {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
}

body {
    background: rgb(187, 221, 208);
    color: #389666;
    margin-top: 20px;
}

.container {
    display: block;
    width: 400px;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
    font-weight: 500
}


button {
    background-color: rgb(156, 61, 140);
    color: #f0d1e9;
    font-weight: 300;
}

#stuffbutton {
    background-color: rgb(125, 91, 148);
    color: #e6d1f0;
    font-weight: 300
}